@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700,800&display=swap');

body {
  overflow-x: hidden;
  margin: 0px;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}